# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=Modern file manager for Xfce
Documentation=http://thunar.xfce.org/

[Service]
Type=dbus
BusName=org.xfce.FileManager
ExecStart=/usr/bin/thunar --daemon

[Install]
WantedBy=xfce.target
Alias=org.xfce.FileManager.service
