# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=A session manager for Xfce
Documentation=man:xfce4-session

[Service]
Type=dbus
BusName=org.xfce.SessionManager
ExecStart=/usr/bin/xfce4-session
ExecStartPost=/usr/bin/systemctl set-environment "SESSION_MANAGER=local/%H:@/tmp/.ICE-unix/${MAINPID},unix/%H:/tmp/.ICE-unix/${MAINPID}"

[Install]
WantedBy=xfce.target
Alias=org.xfce.SessionManager.service
