# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=A modern terminal emulator
Documentation=https://docs.xfce.org/apps/terminal/start
Conflicts=xfce4-terminal-dropdown.service

[Service]
Type=dbus
BusName=org.xfce.Terminal5
ExecStart=/usr/bin/xfce4-terminal

[Install]
WantedBy=xfce.target
Alias=org.xfce.Terminal5.service
