# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=A desktop manager for Xfce
Documentation=man:xfdesktop
#After=org.xfce.SessionManager.service
#Requires=org.xfce.SessionManager.service

[Service]
Type=dbus
BusName=org.xfce.xfdesktop
ExecStart=/usr/bin/xfdesktop --sm-client-disable

[Install]
WantedBy=xfce.target
Alias=org.xfce.Terminal5.service
