# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=Announcing the SESSION_MANAGER variable
Documentation=man:xfce4-session
After=xfce4-session.service
Requires=xfce4-session.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/set-sessionmanager-var start
ExecStop=/usr/local/bin/set-sessionmanager-var stop

[Install]
WantedBy=xfce-pre.target
