# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=A session manager for Xfce
Documentation=man:xfce4-session
Requires=xfconfd.service
After=xfconfd.service

[Service]
Type=dbus
BusName=org.xfce.SessionManager
ExecStart=/usr/bin/xfce4-session

[Install]
WantedBy=xfce-init.target
Alias=org.xfce.SessionManager.service
