[Unit]
Description=XFCE notifications service
Requires=xfce-init.target
After=xfce-init.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/lib/xfce4/notifyd/xfce4-notifyd

[Install]
WantedBy=xfce.target
