# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=A desktop manager for Xfce
Documentation=man:xfdesktop
Requires=xfce-init.target
After=xfce-init.target

[Service]
Type=dbus
BusName=org.xfce.xfdesktop
ExecStart=/usr/bin/xfdesktop

[Install]
WantedBy=xfce.target
