# vim: set filetype=systemd:tabstop=4:shiftwidth=4:expandtab
[Unit]
Description=Xfce settings daemon
Documentation=http://docs.xfce.org/xfce/xfce4-settings/xfsettingsd
Requires=xfce-pre.target
After=xfce-pre.target

[Service]
Type=dbus
BusName=org.xfce.SettingsDaemon
ExecStart=/usr/bin/xfsettingsd --no-daemon

[Install]
WantedBy=xfce-init.target
Alias=org.xfce.SettingsDaemon.service
